@import "scss/utils";
.filterBtn {
  height: 40px;
  background: $color-lightGray;
  padding: 0 20px;
  border: none;
  border-radius: $radius-btn;
  font-size: 14px;
  position: relative;
  &.selected {
    background: $color-main;
    color: #fff;
  }
  &[disabled] {
    opacity: 0.5;
  }
  &.tooltipBtn {
    margin-right: 30px;
  }
}
