@import "scss/utils";
.HomeCommunity {
  //
  padding: 45px 35px 30px;
  background: #fff;
  background-color: $color-sub;
  border-radius: $box-radius;
  color: #fff;
  .topArea {
    //
    // background-color: $color-sub;

    p {
      //
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .contArea {
    //
    overflow: hidden;
    height: auto;
    .mySwiper {
      height: 250px;
      .swiperSlide {
        display: flex;
        align-items: center;
        .HomeListItem {
          width: 100%;
          a {
            display: block;
            h5 {
              font-size: 32px;
              text-align: center;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-bottom: 50px;
            }
            p {
              //
              position: absolute;
              left: 0;
              bottom: 0;
              span {
                //
              }
            }
          }
        }
        h4 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    ul {
      //
    }
  }
}
