@import "scss/utils";

.HomeSupport {
  display: flex;
  flex-wrap: wrap;

  gap: 2%;
  .supportBox {
    width: 49%;
    &:not(:nth-last-child(n + 1):nth-last-child(-n + 2)) {
      margin-bottom: 60px;
    }
    .supportCate {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .supportList {
      display: flex;
      flex-wrap: wrap;
      gap: 2%;

      > .HomeListItem {
        background-color: #fff;
        width: 49%;
        border-radius: $box-radius;
        &:not(:nth-last-child(n + 1):nth-last-child(-n + 2)) {
          margin-bottom: 2%;
        }
        //
        a {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: flex-start;
          padding: 30px;
          height: 230px;
          border-radius: $box-radius;
          h5 {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          p {
            span {
              //
            }
          }
        }
      }
    }
  }
}
