@import "scss/utils";
.FilterModal {
  //
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  .modalInner {
    //
  }
  .btnStepWrap {
    display: flex;
    li {
      flex: 1 1 auto;
    }
    .btnStep {
      width: 100%;
      padding: 20px 0;
      border: none;
      font-size: 20px;
      > span {
        position: relative;
        font-weight: 700;
        opacity: 0.5;
        &[data-selected="selected"] {
          color: #000;
          border-bottom: 2px solid #000;
          opacity: 1;
        }
      }
      :global span:not([data-selected="selected"]) {
        .toolTipBox {
          display: none;
        }
      }
    }
  }
  .contArea {
    //
    .tabCont {
      //
      padding: 25px;
      .title {
        //
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        h5 {
          font-size: 20px;
          &.required {
            //
            &:after {
              content: "*";
              color: red;
              margin-left: 5px;
            }
          }
        }
        span {
          margin-left: 20px;
        }
      }
      .itemWrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
        .item {
          // margin-bottom: 5px;
          position: relative;
          &[data-hasTooltip="true"] {
            margin-right: 25px;
          }
          button {
            //
            height: 45px;
            background: $color-lightGray;
            padding: 0 10px;
            border: none;
            border-radius: $radius-btn;
            font-size: 16px;
            &[data-clicked="true"] {
              background: $color-main;
              color: #fff;
            }
            &[data-disabled="disabled"] {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  .confirmArea {
    display: flex;
    border-radius: 0 0 $radius-wrap $radius-wrap;
    overflow: hidden;
    button {
      border: none;
      height: 50px;
      &.btnClose {
        //
        width: 20%;
        background: #aaa;
        color: #fff;
      }
      &.btnSubmit {
        //
        width: 80%;
        background: $color-main;
        color: #fff;
      }
    }
  }
}
.EventModal {
  //
  .contArea {
    //
    .tab01 {
      //
    }
    .tab02 {
      //
    }
    .tab03 {
      //
    }
    .tab04 {
      //
    }
  }
}
