@import "scss/utils";
.SnsLogin {
  .noLoggedIn {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    h4 {
      color: #fff;
      font-size: 24px;
      line-height: 1.2;
      span {
        display: block;
      }
    }
    p {
      color: rgba(255, 255, 255, 0.5);
    }
    .sns,
    .dibs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .sns {
      button {
        width: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img {
        }
        span {
          padding-top: 2px;
        }
      }
      .btnKakao {
        background-color: #ffffff;
        border-radius: $radius-btn 0 0 $radius-btn;
        position: relative;
        &:after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 50%;
          background: $color-borderGray;
        }
      }
      .btnApple {
        background-color: #ffffff;
        border-radius: 0 $radius-btn $radius-btn 0;
      }
    }
    .dibs {
      button {
        width: 48%;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: $radius-btn;
        background-color: #4444d5;
        color: #fff;
      }
      .btnDib {
        //
      }
      .btnCompany {
        //
      }
    }
  }
}
