@import "scss/utils";

.CommunityListItem {
  .cate {
    border: 1px solid $color-borderGray;
    border-radius: 30px;
    font-size: 14px;
    padding: 6px 10px 4px;
    display: inline-block;
    color: $color-deepGray;
  }
  :global .content {
    -webkit-line-clamp: 2;
  }
}
