@import "scss/utils";

.replyItem {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 25px;
  &.isWriter {
    background: #f7f8f9;
  }
  .writeInform {
    display: flex;
    align-items: center;
    .writer {
      font-size: 16px;
      display: flex;
      align-items: center;
      &:after {
        content: "";
        width: 1px;
        height: 12px;
        display: block;
        background: $color-borderGray;
        margin: 0 10px 3px 10px;
      }
    }
    .createTime {
      color: $color-gray;
      font-size: 14px;
    }
  }
  .replyCont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: pre-line;
    .leftArea {
      font-size: 20px;
      padding-right: 50px;
    }
  }
  .btnReReply {
    border: 1px solid $color-borderGray;
    border-radius: $radius-btn;
    color: $color-deepGray;
    font-size: 18px;
    padding: 12px 20px 10px;
  }
  &.mainReply {
    padding: 20px 40px;
  }
  .rightArea {
    display: flex;
    align-items: center;
    gap: 50px;
    .likeArea {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $color-deepGray;
      span {
        padding-top: 3px;
      }
    }
  }
  .replyModify {
    width: 100%;
    button {
      display: block;
      margin: 0 0 0 auto;
      border: none;
      padding: 14px 20px 11px;
      border-radius: 50px;
      color: #fff;
      background: $color-sub;
      font-size: 18px;
    }
  }
}
.reReplyWrap {
  width: 100%;
  padding: 0 40px;
  .reReply {
    flex-flow: row;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    .reReplyContWrap {
      padding: 25px 30px;
      border: 1px solid $color-borderGray;
      border-radius: $radius-wrap;
      flex: 1;
      display: flex;
      flex-flow: column;
      gap: 25px;
      .reReplyCont {
      }
    }
  }
}
