@import "scss/utils";
.Filter {
  h3 {
    margin-bottom: 30px;
    font-size: $font-title-mid;
    font-weight: 700;
  }
  .custom {
    @include shadowBox;
    background: #fff;
    padding: 0 50px;
    .topArea {
      padding: 40px 0 30px;
      ul {
        //
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2%;
        > li {
          width: 49%;
          // align-items: center;
          &:not(:nth-last-child(n + 1):nth-last-child(-n + 2)) {
            margin-bottom: 2%;
          }
          &:nth-child(2n-1) {
            padding-right: 50px;
          }
          p {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
            .multiply {
              margin-left: 5px;
              font-weight: 500;
            }
          }
          &.btnItem {
            //
          }
          &.sltItem {
            //
            display: flex;
            justify-content: space-between;
            > div {
              width: 31%;
              li {
                width: 100%;
                button {
                  border: 1px solid $color-main;
                  background-color: #fff;
                  width: 100%;
                  display: block;
                }
              }
            }
          }
          ol {
            display: flex;
            gap: 10px;
            align-items: center;
            flex-wrap: wrap;
            li {
              button {
                //
                height: 45px;
                background: $color-lightGray;
                padding: 0 10px;
                border: none;
                border-radius: $radius-btn;
                font-size: 16px;
                &[data-clicked="true"] {
                  background: $color-main;
                  color: #fff;
                }
                &[data-disabled="disabled"] {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
    .bottomArea {
      display: flex;
      gap: 30px;
      padding: 30px 0;
      border-top: 1px solid $color-borderGray;
      button {
        flex: 1;
        border: none;
        border-radius: $radius-wrap;
        height: 80px;
        font-size: 25px;
        &[name="login"] {
          font-weight: 700;
          background-color: $color-main;
          color: #fff;
        }
        &[name="noLogin"] {
          font-weight: 500;
          background-color: $color-lightGray;
        }
        span {
          display: block;
          text-align: center;
        }
      }
    }
  }
}
