@import "scss/utils";

.Footer {
  background: #fff;
  padding: 20px 0 15px;
  margin-top: 50px;
  > * {
    padding: 20px 40px;
  }
  .footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .terms {
      display: flex;
      align-items: center;
      li {
        //
        &:not(:last-child):after {
          content: "/";
          display: inline-block;
          margin: 0 10px;
        }
        a {
          //
        }
      }
    }
    .sns {
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        //
        button {
          //
        }
      }
    }
  }
  .footerMid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .leftArea {
      ul {
        li {
          span {
            padding-right: 15px;
          }
        }
      }
    }
    .rightArea {
      display: flex;
      align-items: center;
      gap: 20px;
      ul {
        display: flex;
        align-items: center;
        gap: 10px;
        li {
          button {
            display: flex;
            gap: 5px;
            align-items: center;
          }
        }
      }
    }
  }
  .footerBottom {
    border-top: 1px solid $color-borderGray;
  }
}
