@import "scss/utils";

.Header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-sub;
  margin-bottom: 60px;
  .headerLogo {
    margin-right: 60px;
    img {
      display: block;
    }
  }
  nav {
    margin-right: auto;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 3px;
      li {
        a {
          padding: 0 10px;
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }
  .searchForm {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    input[type="text"] {
      padding-left: 60px;
      height: 45px;
      width: 290px;
      background-color: #3939c7;
      border: none;
      color: #fff;
      font-size: 15px;

      &::placeholder {
        color: inherit;
      }
    }
    button[type="submit"] {
      background: transparent;
      border: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      height: 45px;
      font-size: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: auto;
      }
    }
  }
  .loginArea {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 60px;
    button {
      font-size: 14px;
      border: none;
      background-color: $color-main;
      border-radius: $radius-btn;
      padding: 10px 20px 8px;
      color: #fff;
    }
  }
}
