@import "scss/utils";

.Header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-sub;
  .headerLogo {
    margin-right: 60px;
    img {
      display: block;
    }
  }
  nav {
    margin-right: auto;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        a {
          padding: 0 10px;
          color: #fff;
        }
      }
    }
  }
  .searchForm {
    position: relative;
    input[type="text"] {
      padding-left: 60px;
      height: 45px;
      width: 350px;
      background-color: #3939c7;
      border: none;
      color: #fff;
      &::placeholder {
        color: inherit;
      }
    }
    button[type="submit"] {
      background: #e6e6e6;
      border: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      height: 45px;
      font-size: 0;
    }
  }
  .loginArea {
    margin-left: 60px;
  }
}
