@import "scss/utils";

.Pagination {
  padding: 60px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  button {
    @include flexCenter;
    min-width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid $color-borderGray;
    background: #fff;
    span {
      font-size: 12px;
      padding-top: 2px;
    }
    &[data-current] {
      background: $color-main;
      color: #fff;
    }
    &:hover {
      &:not([disabled]):not([data-current]) {
        background: $color-lightGray;
      }
    }
    &.first,
    &.last {
      width: auto;
      padding: 0 8px;
      white-space: nowrap;
    }
    &.first {
      border-radius: $radius-btn 0 0 $radius-btn;
    }
    &.last {
      border-radius: 0 $radius-btn $radius-btn 0;
    }
    &.prev {
    }
    &.next {
    }
    &[disabled] {
      color: $color-gray;
    }
  }
}
