@import "scss/utils";

.SupportFilter {
  h4 {
    font-size: $font-title-small;
    margin-bottom: 25px;
    font-weight: 700;
  }
  .chkArea {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    input[type="checkbox"] {
      margin-right: 10px;
    }
    label {
      padding-top: 3px;
      color: $color-deepGray;
      font-size: 18px;
    }
  }
  .filterBox {
    border: 1px solid $color-borderGray;
    border-radius: $radius-btn;
    padding: 30px 20px;
    .filterList {
      //
      .filterItem {
        //
        margin-bottom: 25px;
        button {
          display: block;
          border: none;
          width: 100%;
          text-align: left;
        }
        .itemTit {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 16px;
          margin-bottom: 10px;
          .arr {
            @include flexCenter;
            width: 20px;
            height: 20px;
            border: 1px solid $color-deepGray;
            border-radius: 50%;
            span {
              //
              padding-top: 2px;
            }
            img {
              display: block;
            }
          }
        }
        p {
          font-size: 20px;
          color: $color-main;
        }
      }
    }
    .submitArea {
      //
      padding-top: 20px;
      border-top: 1px solid $color-borderGray;
      button {
        @include flexCenter();
        width: 100%;
        font-size: 18px;
        border: 1px solid #222;
        border-radius: $radius-btn;
        height: 50px;

        span {
          padding-top: 2px;
        }
      }
    }
  }
}
.supportModal {
  .itemWrap {
    padding: 25px;
    ol {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
    }
    button {
      height: 45px;
      background: #eaeff3;
      padding: 0 10px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      &[data-clicked="true"] {
        background: #30d6c2;
        color: #fff;
      }
    }
  }
  .confirmArea {
    display: flex;
    button {
      border: none;
      height: 50px;
      &.btnClose {
        //
        width: 20%;
        background: #aaa;
        color: #fff;
      }
      &.btnSubmit {
        //
        width: 80%;
        background: $color-main;
        color: #fff;
      }
    }
  }
}
