@import "scss/utils";

.CommunityList {
  .titleArea {
    margin-top: -60px;
    padding-top: 60px;
    background: #fff;
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
    }
    .leftArea {
      //
      .title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        font-size: 22px;
        color: $color-deepGray;
      }
    }
    .rightArea {
      display: flex;
      gap: 15px;
      button {
        font-size: 20px;
        border: 1px solid $color-borderGray;
        border-radius: 100px;
        padding: 15px 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          padding-top: 3px;
        }
      }
    }
  }
  .CommunityListContent {
    background-color: $color-bgGray;
    padding-top: 50px;
  }
  .listTop {
    margin-bottom: 70px;
    h4 {
      font-size: 26px;
      margin-bottom: 20px;
      font-weight: 700;
    }
    .topCont {
      display: flex;
      justify-content: space-between;
      .popular {
        width: 59%;
        .listWrap {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;

          > div {
            margin: 0;
            width: 32.5%;
          }
        }
      }
      .banner {
        width: 38%;
        :global #pagination {
          justify-content: flex-end;
          bottom: unset;
          bottom: none;
          top: -20px;
        }
      }
    }
  }
  .listCategory {
    display: flex;
    gap: 45px;
    margin-bottom: 30px;
    button {
      padding: 10px 0;
      font-size: 26px;
      color: $color-gray;
      border: none;
      border-bottom: 3px solid transparent;
      &[data-selected="selected"] {
        color: #222222;
        border-bottom: 3px solid #222;
        font-weight: 900;
      }
    }
  }
  .listCont {
    background: #fff;
    border-radius: $radius-wrap;
    .listSorting {
      padding: 35px 45px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-borderGray;
      gap: 90px;
      .btns {
        display: flex;
        gap: 10px;
        align-items: center;
        flex: 0 1 auto;
        button {
          font-size: 18px;
          padding: 12px 32px 10px;
          border: 1px solid $color-borderGray;
          border-radius: 20px;
          white-space: nowrap;
          &[data-selected="selected"] {
            background: #222;
            border-color: #222;
            color: #fff;
          }
        }
      }
    }
    .searchAndWrite {
      display: flex;
      align-items: center;
      width: 50%;
      flex: 1 1 auto;
      gap: 35px;
      form {
        display: flex;
        flex: 1 1 auto;
        height: 100%;
        position: relative;
        input[type="text"] {
          border: 1px solid $color-borderGray;
          height: auto;
          width: 100%;
          padding: 0 50px 0 15px;
          font-size: 18px;
        }
        button[type="submit"] {
          border: none;
          position: absolute;
          right: 0;
          height: 100%;
          img {
            display: block;
          }
        }
      }
    }
    .btnWrite {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      border: 1px solid #222;
      border-radius: 40px;
      padding: 12px 30px;
      white-space: nowrap;
      img {
      }
      span {
        font-size: 18px;
        padding-top: 4px;
      }
    }
    .listItemWrap {
      padding: 0 50px;
    }
    .bottomBtns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 35px 30px 70px;
    }
    //
  }
}
