@import "scss/utils";

.CommunityView {
  //
  .btns {
    margin-bottom: 55px;
    .btnBack {
      border: 1px solid $color-borderGray;
      border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: #fff;
      padding: 10px 30px;
      img {
        display: block;
      }
      span {
        padding-top: 4px;
        font-size: 18px;
      }
    }
  }
  .contWrap {
    border-radius: $radius-wrap;
    padding: 55px 50px;
    background-color: #fff;
    margin-bottom: 30px;
    .contTop {
      .writer {
        margin-bottom: 70px;
        .nickname {
          font-size: 20px;
          margin-bottom: 5px;
          line-height: 1;
        }
        .time {
          font-size: 14px;
          color: $color-gray;
        }
      }
      .titleArea {
        padding: 0 15px;
        h3 {
          font-size: 40px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 40px;
        }
      }
    }
    .cont {
      padding: 0 15px;
      color: $color-deepGray;
      font-size: 22px;
      margin-bottom: 100px;
      p {
        word-break: break-all;
      }
    }
    .bottomBtns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        border: none;
      }
      .btnLike {
      }
      .controlWrap {
        position: relative;
        .btnControl {
        }
        .controlBox {
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
          padding: 10px 0;
          @include shadowBox;

          button {
            width: 80px;
            border: none;
            font-size: 16px;
            padding: 6px 0 4px;
            color: $color-gray;
          }
        }
      }
    }
    .fileArea {
      margin: 55px -50px 0;
      padding: 40px 50px 0;
      display: flex;
      gap: 10px;
      border-top: 1px solid $color-borderGray;
      li {
        a {
          border: 1px solid $color-borderGray;
          color: $color-gray;
          padding: 11px 15px 9px;
          border-radius: 30px;
          display: block;
        }
      }
    }
  }
  .commentArea {
    background: #fff;
    border-radius: $radius-wrap;
    padding: 40px 0;
    .mainReplyWrap {
      li:nth-child(2n) {
        background-color: #f7f8f9;
      }
    }
  }
}
