@import "scss/utils";

.CommunityList {
  .titleArea {
    //
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
    }
    .leftArea {
      //
      .title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        font-size: 22px;
        color: $color-deepGray;
      }
    }
    .rightArea {
      display: flex;
      gap: 15px;
      button {
        font-size: 20px;
        border: 1px solid $color-borderGray;
        border-radius: 100px;
        padding: 15px 30px;
        display: flex;
        align-items: center;
        span {
          padding-top: 3px;
        }
      }
    }
  }
  .CommunityListContent {
    background-color: $color-bgGray;
    padding-top: 50px;
  }
  .listTop {
    margin-bottom: 70px;
    h4 {
      font-size: 26px;
      margin-bottom: 20px;
      font-weight: 700;
    }
    .topCont {
      display: flex;
      justify-content: space-between;
      .popular {
        width: 59%;
        .listWrap {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;

          > div {
            margin: 0;
            width: 32.5%;
          }
        }
      }
      .banner {
        width: 38%;
        :global #pagination {
          display: none;
        }
      }
    }
  }
  .listCategory {
    display: flex;
    gap: 45px;
    margin-bottom: 30px;
    button {
      padding: 10px 0;
      font-size: 26px;
      color: $color-gray;
      border: none;
      border-bottom: 3px solid transparent;
      &[data-selected="selected"] {
        color: #222222;
        border-bottom: 3px solid #222;
        font-weight: 900;
      }
    }
  }
  .listCont {
    background: #fff;
    border-radius: $radius-wrap;
    .listSorting {
      padding: 35px 45px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-borderGray;
      .btns {
        display: flex;
        gap: 10px;
        align-items: center;
        button {
          font-size: 18px;
          padding: 12px 32px 10px;
          border: 1px solid $color-borderGray;
          border-radius: 20px;
          &[data-selected="selected"] {
            background: #222;
            border-color: #222;
            color: #fff;
          }
        }
      }
    }
    .listItemWrap {
      padding: 0 50px;
    }
    //
  }
}
