@import "scss/utils";

.NoticeListCont {
  padding-top: 50px;
  .noticeListWrap {
    background-color: #fff;
    border-radius: $radius-wrap;
  }
}
.noticeListItem {
  align-items: flex-end;
  .cate {
    span {
      display: inline-block;
      color: $color-gray;
      background: $color-lightGray;
      padding: 6px 9px 2px;
      border-radius: $radius-btn;
      font-size: 13px;
      &.mustRead {
        color: #fff;
        background-color: $color-main;
      }
    }
  }
  .leftArea {
    flex: 1 1 auto;
    width: 100%;
    .content {
      min-height: 27px;
    }
  }
  .rightArea {
    flex: 0 0 auto;
    // margin-bottom: 15px;
    color: #999;
  }
}
