@import "scss/utils";

.SavedRecent {
  padding-bottom: 110px;
  margin-bottom: -110px;
  background-color: #fff;
  .savedCont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    .leftArea {
      width: 73%;
    }
    .rightArea {
      width: 22%;
    }
  }
  .ordArea {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        padding-top: 3px;
        color: $color-gray;
      }
    }
  }
}
