@import "scss/utils";
.SupportList {
  .tit {
    text-align: center;
    margin-bottom: 70px;
    h4 {
      font-size: 28px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      mark {
        color: $color-sub;
      }
    }
  }
  .contArea {
    display: flex;
    justify-content: space-between;

    .filterArea {
      width: 14%;
    }
    .listArea {
      width: 60%;
      border: 1px solid blue;
    }
    .recentArea {
      width: 20%;
      border: 1px solid green;
    }
  }
}
