@import "scss/utils";
.chartWrap {
  > div {
    margin-bottom: 20px;
  }
  .noData {
    padding: 50px 0;
    text-align: center;
    span {
      display: block;
    }
  }
  .chartArea {
    background: $color-bgGray;
    padding: 30px;
    border-radius: $radius-wrap;
    border: 1px solid $color-borderGray;
    .title {
      font-size: 24px;
      border-bottom: 1px solid $color-borderGray;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .canvasArea {
      //
    }
    .legendArea {
      border-top: 1px solid $color-borderGray;
      margin-top: 15px;
      padding-top: 15px;
    }
  }
  .doughtnut {
    .legendArea {
      display: flex;
      flex-wrap: wrap;
      padding-left: 10px;
      padding-right: 10px;
      p {
        width: 50%;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 5px 0;
        .circle {
          width: 20px;
          min-width: 20px;
          height: 20px;
          border-radius: 50%;
          display: block;
        }
        .name {
          font-size: 14px;
          padding-top: 3px;
        }
      }
    }
    .canvasArea {
      padding: 0 10px;
    }
  }
  .bar {
    .canvasArea {
      height: 240px;
    }
  }
  .boxItem {
    .openModal {
      background-color: #f0f4fd;
      border-radius: $radius-wrap;
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      border: none;
    }
    .imgArea {
      background: #fff;
      width: 60px;
      min-width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .txtArea {
      padding-top: 3px;
      text-align: left;
      .subTit {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1;
      }
      .para {
        display: flex;
        align-items: flex-start;
        img {
          margin-right: 5px;
        }
        span {
          padding-top: 1px;
          line-height: 1.3;
        }
        font-size: 13px;
      }
    }
  }
}
