@import "scss/utils";
.SavedCategory {
  display: flex;
  .cateItem {
    flex: 1;
    width: 33.33%;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      padding: 9px 0 5px;
      gap: 5px;
      border-radius: $radius-wrap;
      .cate {
        color: $color-gray;
      }
      .numb {
        color: $color-main;
        font-weight: 700;
      }
    }
    &.current {
      a {
        background: $color-sub;
        @include shadowBox;
        .cate {
          color: #fff;
        }
      }
    }
  }
}
