@import "scss/utils";
.SavedCategory {
  display: flex;
  margin-bottom: 60px;
  .cateItem {
    flex: 1;
    width: 33.33%;
    button {
      border: none;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding: 13px 0 10px;
      gap: 5px;
      border-radius: $radius-wrap;
      .cate {
        color: $color-gray;
      }
      .numb {
        color: $color-main;
        font-weight: 700;
      }
    }
    &.current {
      button {
        background: $color-sub;
        @include shadowBox;
        .cate {
          color: #fff;
        }
      }
    }
  }
}
