$radius-wrap: 10px;
$radius-btn: 5px;
$color-main: #30d6c2;
$color-sub: #4949db;
$color-lightGray: #eaeff3;
$color-borderGray: #dddddd;
$color-fontGray: #999999;
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
$font-title: 36px;
$font-title_big: 45px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: ($mobile+1)) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
